.dashboard {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	h1 {
		text-align: center;
		margin-bottom: 1.25rem;
	}

	.location-list {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.link-btn {
		text-decoration: none;
		color: var(--link-color);
	}

	.location-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.75rem;
		border: 1px solid var(--border-color);
		border-radius: 8px;
		background-color: var(--btn-bg-color);
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: var(--btn-bg-hover-color);
		}

		span {
			font-size: 1rem;
		}
	}

	// Media query for larger screens
	@media (min-width: 768px) {
		.location-list {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 64rem;
			margin: auto;
			gap: 0.75rem;
		}

		a {
			flex: 0 0 20.8125rem; // Three items per row with some gap
		}
	}
}
